<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Registrar sesion</h3>
    </div>
    <form role="form" (ngSubmit)="saveSession()" #sessionForm="ngForm">
      <div class="box-body">
        <h5><strong>(*)Periodo</strong></h5>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="day">Dia</label>
                <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="session.day" 
                [ngModelOptions]="{standalone: true}" #day="ngModel">
                    <option *ngFor="let day of days" [ngValue]="day">{{day}}</option>
                </select>
              </div>
          <div class="form-group col-md-6">
            <label>Hora</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="session.hour"
            [ngModelOptions]="{standalone: true}" #hour="ngModel">
                <option *ngFor="let hour of hours" [ngValue]="hour">{{hour}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="laboratory">(*)Laboratorio</label>
          <select class="form-control" [(ngModel)]="session.labId"
          [ngModelOptions]="{standalone: true}" #laboratory="ngModel">
            <option *ngFor="let laboratory of laboratories" [ngValue]="laboratory.id">{{laboratory.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="group">(*)Laboratorio</label>
          <select class="form-control" [(ngModel)]="session.groupId"
          [ngModelOptions]="{standalone: true}" #group="ngModel">
            <option *ngFor="let group of groups" [ngValue]="group.id">{{group.name}}</option>
          </select>
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-default" (click)="cancel()">Cancelar</button>
          <button type="submit" class="btn btn-primary pull-right">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</section>
