<div class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Registrar Laboratorio</h3>
    </div>
    <div class="box-body">
      <form (ngSubmit)="saveLaboratory()" #laboratoryForm="ngForm">
        <div class="form-group">
          <label for="name">(*)Nombre</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="laboratory.name" required
            [ngModelOptions]="{standalone: true}" #name="ngModel">
          <div *ngIf="name.invalid && (name.dirty || name.touched) " class="alert alert-danger">
            <div *ngIf="name.errors.required">
              Nombre requerido
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="capacity">(*)Capacidad</label>
          <input type="number" class="form-control" id="capacity" [(ngModel)]="laboratory.capacity"
            [ngModelOptions]="{standalone: true}" #capacity="ngModel" required min="1">
          <div *ngIf="capacity.invalid && (capacity.dirty || capacity.touched) " class="alert alert-danger">
            <div *ngIf="capacity.errors.required">
              Campo requerido
            </div>
            <div *ngIf="capacity.errors.min">
              La cantidad debe ser ser minimo uno
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="machineType">(*)Tipo de maquina</label>
          <input type="text" class="form-control" id="machineType" [(ngModel)]="laboratory.machineType"
            [ngModelOptions]="{standalone: true}" #machineType="ngModel" required>
          <div *ngIf="machineType.invalid && (machineType.dirty || machineType.touched) " class="alert alert-danger">
            <div *ngIf="machineType.errors.required">
              Campo requerido
            </div>
          </div>
        </div>
        <div class="box-footer">
          <button class="btn btn-secondary pull-left" (click)="cancel()">Cancelar</button>
          <button type="submit" class="btn btn-primary pull-right">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>