<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Registrar Grupo</h3>
  </div>
  <form [formGroup]="groupForm" (ngSubmit)="registerGroup()" novalidate>
    <div class="box-body">
      <div [ngClass]="{ 'form-group': true, 
      'has-error': groupForm.get('number').errors && groupForm.get('number').touched }">
        <label for="exampleInputEmail1">(*)Numero</label>
        <input type="number" class="form-control" id="number" 
              formControlName="number">
        <div *ngIf="groupForm.get('number').errors && groupForm.get('number').touched">
            <span *ngIf="groupForm.get('number').hasError('required')" class="help-block">El campo es requerido</span>
            <span *ngIf="groupForm.get('number').hasError('min')" class="help-block">El valor minimo es 1</span>
            <span *ngIf="groupForm.get('number').hasError('max')" class="help-block">El valor maximo es 100</span>
        </div>
      </div>
      <div [ngClass]="{ 'form-group': true, 
      'has-error': groupForm.get('user_id').errors && groupForm.get('user_id').touched }">
        <label for="laboratory">(*)Docente</label>
        <select class="form-control" formControlName="user_id">
          <option *ngFor="let teacher of teachers" [ngValue]="teacher.id">{{teacher.lastName}} {{teacher.name}}</option>
        </select>
        <div *ngIf="groupForm.get('user_id').errors && groupForm.get('user_id').touched">
          <span *ngIf="groupForm.get('user_id').hasError('required')" class="help-block">Debe seleccionar una opcion</span>
        </div>
      </div>
      <div [ngClass]="{ 'form-group': true, 
      'has-error': groupForm.get('subject_id').errors && groupForm.get('subject_id').touched }">
        <label for="laboratory">(*)Materia</label>
        <select class="form-control" formControlName="subject_id">
          <option *ngFor="let subject of subjects" [ngValue]="subject.id">{{subject.name}}</option>
        </select>
        <div *ngIf="groupForm.get('subject_id').errors && groupForm.get('subject_id').touched">
          <span *ngIf="groupForm.get('subject_id').hasError('required')" class="help-block">Debe seleccionar una opcion</span>
        </div>
      </div>
      <div class="checkbox">
          <label>
            <input type="checkbox" formControlName="laboratory_practice"> Tiene practica en laboratorio
          </label>
      </div>
      <div class="box-footer">
        <button class="btn btn-default" (click)="cancel()">Cancelar</button>
        <button type="submit" class="btn btn-primary pull-right" [disabled]="!groupForm.valid">Guardar</button>
      </div>
    </div>
  </form>
</div>
