<div class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Registrar Usuario</h3>
    </div>
    <div class="box-body">
      <form (ngSubmit)="saveUser()" #teacherForm="ngForm">
        <div class="form-group">
          <label for="sisCode">(*)Codigo SIS</label>
          <input type="number" class="form-control" id="sisCode" formcontrolName="sisCode" required pattern="[0-9]{9,9}"
            [(ngModel)]="user.sisCode" [ngModelOptions]="{standalone: true}" #sisCode="ngModel">
          <div *ngIf="sisCode.invalid && (sisCode.dirty || sisCode.touched)" class="alert alert-danger">
            <div *ngIf="sisCode.errors.required">
              Codigo requerido
            </div>
            <div *ngIf="sisCode.errors.pattern">
              El codigo debe ser de 9 digitos.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="name">(*)Nombre</label>
          <input type="text" class="form-control" id="name" formcontrolName="name" required required
            pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" minlength="3" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}"
            #name="ngModel">
          <div *ngIf="name.invalid && (name.dirty || name.touched) " class="alert alert-danger">
            <div *ngIf="name.errors.required">
              Nombre requerido
            </div>
            <div *ngIf="name.errors.minlength">
              Minimo 3 letras
            </div>
            <div *ngIf="name.errors.pattern">
              El nombre no debe contener numeros
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">(*)Apellidos</label>
          <input type="text" class="form-control" id="lastName" formcontrolName="lastName" required minlength="4"
            pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}"
            #lastName="ngModel">
          <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
            <div *ngIf="lastName.errors.required">
              Campo requerido
            </div>
            <div *ngIf="lastName.errors.minlength">
              Minimo 4 letras
            </div>
            <div *ngIf="lastName.errors.pattern">
              No debe contener numeros
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">(*)Correo</label>
          <input type="email" class="form-control" id="email" formcontrolName="email" required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]="user.email"
            [ngModelOptions]="{standalone: true}" #email="ngModel">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
              Campo requerido
            </div>
            <div *ngIf="email.errors.pattern">
              Correo invalido
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="role">(*)Rol</label>
          <select class="form-control" id="role" formcontrolName="role" [(ngModel)]="user.role" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let role of roles" [value]="role.name">{{role.name}}</option>
          </select>
        </div>
        <div class="box-footer">
          <button class="btn btn-secondary pull-left" (click)="cancel()">Cancelar</button>
          <button type="submit" class="btn btn-primary pull-right">Registrar</button>
        </div>
      </form>
    </div>
  </div>