<div class="row">
  <div class="col-md-12" *ngIf="group" >
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Grupo</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <dl class="dl-horizontal">
          <dt>Docente:</dt>
          <dd>{{group.user.lastName}} {{group.user.name}}</dd>
          <dt>Materia:</dt>
          <dd>{{group.subject.name}}</dd>
          <dt>Numero:</dt>
          <dd>{{group.number}}</dd>
        </dl>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
<div class="row">
  <div class="col-md-6" *ngIf="group">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Horarios Disponibles</h3>
      </div>
      <form [formGroup]="scheduleForm" (ngSubmit)="addSchedules()" novalidate>
        <div class="box-body">
          <div class="form-group">
            <select class="form-control select2" multiple data-placeholder="Select a State" style="width: 100%;"
              formControlName="schedules">
              <option *ngFor="let schedule of schedules" [ngValue]="schedule">{{schedule.day.value}}
                {{schedule.hour.value}} {{schedule.laboratory.name}}</option>
            </select>
          </div>
          <div class="box-footer">
            <button class="btn btn-default" (click)="cancel()">Cancelar</button>
            <button type="submit" class="btn btn-primary pull-right" [disabled]="!scheduleForm.valid">Agregar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6" *ngIf="sessions">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Horarios Del Grupo</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Dia</th>
              <th>Hora</th>
              <th>Laboratorio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let session of sessions">
              <td>{{session.schedule.day.value}}</td>
              <td>{{session.schedule.hour.value}}</td>
              <td>{{session.schedule.laboratory.name}}</td>
              <td>
                <button type="button" class="btn btn-danger btn-xs" (click)="removeSchedule(session)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>