<div class="wrapper">
  <header class="main-header">
    <a class="logo">
      <span class="logo-mini">
        <img src="assets/images/mountain.jpg" class="jam-image" alt="Jam Logo">
      </span>
      <span class="logo-lg">
        <img src="assets/images/mountain.jpg" class="jam-image" alt="Jam Logo">
        <strong>TISMountain</strong>
      </span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Aqui va las opciones del navbar -->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" *ngIf="!!currentUser">
              <i class="fa fa-user"></i>
                {{currentUser.name}} ({{currentUser.role}})
            </a>
            <ul class="dropdown-menu">
              <li>
                <ul class="menu">
                  <li *ngFor="let role of roles" class="user-item" (click)="changeRole(role)">
                      <h4>
                        {{role}}
                      </h4>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Menu</li>
        <li class="treeview" *ngIf="authService.userIsAdmin()">
          <a href="#">
            <i class="fa  fa-file-text-o"></i> <span>Materia</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a routerLink="/subject"><i class="fa fa-plus-square-o"></i>Registrar Materia</a></li>
          </ul>
        </li>
        <li class="treeview" *ngIf="authService.userIsAdmin() || authService.userIsStudent()">
            <a>
              <i class="fa  fa-clock-o"></i> <span>Horario</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li *ngIf="authService.userIsAdmin()"><a routerLink="/schedule"><i class="fa fa-plus-square-o"></i>Registrar Horario</a></li>
              <li *ngIf="authService.userIsStudent()"><a routerLink="/session/register-student/8"><i class="fa fa-graduation-cap"></i>Inscribirse</a></li>
            </ul>
        </li>
        <li class="treeview" *ngIf="authService.userIsAdmin()">
            <a>
              <i class="fa fa-group"></i> <span>Grupo</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a routerLink="/group"><i class="fa fa-plus-square-o"></i>Registrar grupo</a></li>
              <li><a routerLink="/group/list"><i class="fa fa-plus-square-o"></i>Grupos</a></li>
            </ul>
        </li>
        <li class="treeview" *ngIf="authService.userIsAdmin()">
          <a href="#">
            <i class="fa fa-laptop"></i> <span>Laboratorio</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a routerLink="/laboratory"><i class="fa fa-plus-square-o"></i>Registrar Laboratorio</a></li>
          </ul>
        </li>
        <li class="treeview" *ngIf="authService.userIsAssistant()">
          <a href="#">
            <i class="fa fa-user"></i> <span>Sesiones</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a routerLink="/session/auxiliar-sessions"><i class="fa fa-plus-square-o"></i>Sesiones Activas</a></li>
          </ul>
        </li>
        <li class="treeview" *ngIf="authService.userIsAdmin()">
          <a href="#">
            <i class="fa fa-user"></i> <span>Usuario</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a routerLink="/user"><i class="fa fa-plus-square-o"></i>Registrar Usuario</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>
  <div class="content-wrapper">
      <section class="content">
        <router-outlet></router-outlet>
      </section>
  </div>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.3
    </div>
    <strong>2019 <a href="https://gitlab.com/Jared-AS/tis-mountain">JamSoft S.R.L.</a></strong>
  </footer>
  <div class="control-sidebar-bg"></div>
</div>