<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Sesiones activas</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Hora</th>
              <th>Materia</th>
              <th>Laboratorio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let session of sessions" style="cursor: pointer;" routerLink="/session/grade-session">
              <td>{{session.day.value}} {{session.date}}</td>
              <td>{{session.hour.value}}</td>
              <td>{{session.subject.name}}</td>
              <td>{{session.laboratory.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>