<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><b>Sesion:</b> 22 de mayo 2019</h3><br>
                <h3 class="box-title"><b>Hora:</b>12:45 - 14:15</h3><br>
                <h3 class="box-title"><b>Auxiliar:</b> Fernando Rojas</h3><br>
                <h3 class="box-title"><b>Actividad:</b> Ejercicio #8</h3><br>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="text-align:center;"><b>Estudiante</b></th>
                            <th style="text-align:center;"><b>Asistencia</b></th>
                            <th style="text-align:center;"><b>Actividad</b></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let session of sessionStudents" style="cursor: pointer;">
                            <td style="text-align:center;">{{session.student}}</td>
                            <td style="text-align:center;"><input type="checkbox" id="cbox1"
                                    [(ngModel)]="session.assistance"></td>
                            <td style="text-align:center;"><textarea [(ngModel)]="session.activity"  ></textarea></td>
                            <td   style="text-align:center;"><button type="submit" class="btn btn-primary ">Registrar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>