<div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Registrar horario</h3>
    </div>
    <form [formGroup]="scheduleForm" (ngSubmit)="registerSchedule()" novalidate>
      <div class="box-body">
        <h5><strong>(*)Dia y hora</strong></h5>
        <div class="form-row">
            <div [ngClass]="{ 'form-group col-md-6': true, 
            'has-error': scheduleForm.get('day_id').errors && scheduleForm.get('day_id').touched }">
                <select class="form-control" formControlName="day_id">
                    <option *ngFor="let day of days" [ngValue]="day.id">{{day.value}}</option>
                </select>
                <div *ngIf="scheduleForm.get('day_id').errors && scheduleForm.get('day_id').touched">
                    <span *ngIf="scheduleForm.get('day_id').hasError('required')" class="help-block">Debe seleccionar una opcion</span>
                </div>
              </div>
          <div [ngClass]="{ 'form-group col-md-6': true, 
          'has-error': scheduleForm.get('hour_id').errors && scheduleForm.get('hour_id').touched }">
            <select class="form-control" formControlName="hour_id">
                <option *ngFor="let hour of hours" [ngValue]="hour.id">{{hour.value}}</option>
            </select>
            <div *ngIf="scheduleForm.get('hour_id').errors && scheduleForm.get('hour_id').touched">
                <span *ngIf="scheduleForm.get('hour_id').hasError('required')" class="help-block">Debe seleccionar una opcion</span>
            </div>
          </div>
        </div>
        <div [ngClass]="{ 'form-group': true, 
        'has-error': scheduleForm.get('laboratory_id').errors && scheduleForm.get('laboratory_id').touched }">
          <label for="laboratory">(*)Laboratorio</label>
          <select class="form-control" formControlName="laboratory_id">
            <option *ngFor="let laboratory of laboratories" [ngValue]="laboratory.id">{{laboratory.name}}</option>
          </select>
          <div *ngIf="scheduleForm.get('laboratory_id').errors && scheduleForm.get('laboratory_id').touched">
              <span *ngIf="scheduleForm.get('laboratory_id').hasError('required')" class="help-block">Debe seleccionar una opcion</span>
          </div>
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-default" (click)="cancel()">Cancelar</button>
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!scheduleForm.valid">Guardar</button>
        </div>
      </div>
    </form>
  </div>
