<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Registrarse</h3>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
    <div class="box-body">
      <div class="form-group">
        <label for="laboratory">(*)Materia</label>
        <select class="form-control" formControlName="subject" (change)="selectSubject()">
          <option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.name}}</option>
        </select>
        <span class="help-block" *ngIf="registerForm.get('subject').hasError('required')">Seleccione una materia</span>
      </div>
      <div class="form-group" *ngIf="groups.length > 0">
        <label for="laboratory">(*)Grupo</label>
        <select class="form-control" formControlName="group" (change)="selectGroup()">
          <option *ngFor="let group of groups" [ngValue]="group">{{group.number}} {{group.user.lastName}} {{group.user.name}}</option>
        </select>
        <span class="help-block" *ngIf="registerForm.get('group').hasError('required') && !registerForm.get('subject').hasError('required')">Seleccione un grupo</span>
      </div>
      <div class="form-group" *ngIf="sessions.length > 0">
        <label for="laboratory">(*)Horario</label>
        <select class="form-control" formControlName="sessionId">
          <option *ngFor="let session of sessions" [ngValue]="session.id">{{session.schedule.day.value}} {{session.schedule.hour.value}} {{session.schedule.laboratory.name}}</option>
        </select>
        <span class="help-block" *ngIf="registerForm.get('sessionId').hasError('required') && !registerForm.get('group').hasError('required')">Seleccione el horario al que desea inscribirse</span>
      </div>
      <div class="box-footer">
        <button class="btn btn-default" (click)="cancel()">Cancelar</button>
        <button type="submit" class="btn btn-primary pull-right" [disabled]="!registerForm.valid">Guardar</button>
      </div>
    </div>
  </form>
</div>
