<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Grupos</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered table-hover" >
          <thead>
            <tr>
              <th>Numero</th>
              <th>Docente</th>
              <th>Materia</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let group of groups" [routerLink]="['/group/add-schedule', group.id]" routerLink="/group/add-schedule">
              <td>{{group.number}}</td>
              <td>{{group.user.lastName}} {{group.user.name}}</td>
              <td>{{group.subject.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
  <!-- /.col -->
</div>
